body {
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:scroll;
    background-position: center;
    margin: 0;
    height: 100%;

}

img {
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 50vh;
    margin-bottom: 20px;
}
/*
.navbar-custom {
    background-color: transparent;
    border-color: black;
}

.navbar-custom .navbar-brand,
.navbar-customer .navbar-text {
        color:black
    }
*/